body {
    background-color: rgb(12, 11, 10);
    text-align: center;
    align-items: center;
}

img {
    border-radius: 500px;
    width: 250px;
    
}


h2 {
    color:rgb(163, 6, 6);
    text-align: center;
}

h3 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.sobre_mi {
    background-color: transparent;
    font-size: medium;
    border-color: brown;
}

.experiancia {
background-color: transparent;
}

.proyectos {
background-color: transparent;
}

.hola_mundo {
background-color: transparent;

}

.container {
    font-size: 15px;
    background-color: rgb(159, 1, 207);
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
}

.container2 {
    font-size: 15px;
    background-color: rgb(22, 158, 158);
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 15px;
    border-width: 10px;
}

.hr {
    color: black;
}